<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.assafdev.jsonview</string>
	<key>connections</key>
	<dict>
		<key>15BAD64A-059A-42EA-BA82-08BFC1121D04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D29F04C9-D31E-4EFB-A579-CD410C5AD1B4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>375B14E2-3990-49A3-88AC-E7BA4453EFE9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B6686FCB-C401-4805-B5DE-25CBB5E9799D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>74460712-B829-456C-9BE0-DF6FFC94B79D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>64717218-3818-4991-8E2B-D858026D0530</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>746A7EC1-1019-4419-AE01-F3BA05DF87DC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>15BAD64A-059A-42EA-BA82-08BFC1121D04</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>74460712-B829-456C-9BE0-DF6FFC94B79D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B6686FCB-C401-4805-B5DE-25CBB5E9799D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>746A7EC1-1019-4419-AE01-F3BA05DF87DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D29F04C9-D31E-4EFB-A579-CD410C5AD1B4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D53BC16E-7E7B-4FEF-84A8-DEED16EF8B64</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Assaf Shalin</string>
	<key>description</key>
	<string>Beutify Json</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>JSONView</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>adduuid</key>
				<true/>
				<key>allowemptyfiles</key>
				<true/>
				<key>createintermediatefolders</key>
				<true/>
				<key>filename</key>
				<string>/tmp/json_view.json</string>
				<key>filetext</key>
				<string>{query}</string>
				<key>relativepathmode</key>
				<integer>0</integer>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.writefile</string>
			<key>uid</key>
			<string>D29F04C9-D31E-4EFB-A579-CD410C5AD1B4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>json</string>
				<key>subtext</key>
				<string>Beautify JSON String</string>
				<key>text</key>
				<string>Json View</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>375B14E2-3990-49A3-88AC-E7BA4453EFE9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>if [ ! -z "$1" -a "$1" != " " ]; then
    echo $1 | python -m json.tool
else
	pbpaste | python -m json.tool
fi</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>746A7EC1-1019-4419-AE01-F3BA05DF87DC</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>D53BC16E-7E7B-4FEF-84A8-DEED16EF8B64</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>15BAD64A-059A-42EA-BA82-08BFC1121D04</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.transform</string>
			<key>uid</key>
			<string>B6686FCB-C401-4805-B5DE-25CBB5E9799D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>No valid json in clipboard or as arg</string>
				<key>title</key>
				<string>Invalid Json</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>64717218-3818-4991-8E2B-D858026D0530</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>74460712-B829-456C-9BE0-DF6FFC94B79D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>15BAD64A-059A-42EA-BA82-08BFC1121D04</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>375B14E2-3990-49A3-88AC-E7BA4453EFE9</key>
		<dict>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>64717218-3818-4991-8E2B-D858026D0530</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>260</integer>
		</dict>
		<key>74460712-B829-456C-9BE0-DF6FFC94B79D</key>
		<dict>
			<key>xpos</key>
			<integer>550</integer>
			<key>ypos</key>
			<integer>290</integer>
		</dict>
		<key>746A7EC1-1019-4419-AE01-F3BA05DF87DC</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>B6686FCB-C401-4805-B5DE-25CBB5E9799D</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>160</integer>
		</dict>
		<key>D29F04C9-D31E-4EFB-A579-CD410C5AD1B4</key>
		<dict>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>D53BC16E-7E7B-4FEF-84A8-DEED16EF8B64</key>
		<dict>
			<key>xpos</key>
			<integer>890</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>http://assafdev.mobi/</string>
</dict>
</plist>
